data/*
examples/*
venv/*
ast_parser
ast_parser_itpx
err.file
error_parser
errorfile
errorfilecount
info
log.txt
outfile.txt
outfilesimple.txt
*.out
repos.txt
*.o
.ipynb_checkpoints/*
.virtual_documents/*
build/* 
src/.ipynb_checkpoints
src/lib
